---
layout: default
---

<div id="newsid" class="col-sm-5 col-xs-12" >
{% include sidebar.html %}
</div>
<div id="homeid" class="col-sm-7 col-xs-12">
  {{ content }}
</div>
<div id="homeid" class="col-sm-1 col-xs-12"></div>
<div id="homeid" class="col-sm-10 col-xs-12">
<div class="jumbotron jumbotron-fluid">
  <h4>News</h4>
  
  {% for article in site.data.news limit:1 %}
  <b>{{ article.date }}</b>
  <p>{{ article.headline }}</p>
  {% endfor %}
</div>
</div>
<div id="homeid" class="col-sm-1 col-xs-12"></div>
